@model CardiologicClinic_WebApp.Models.Visit
@using CardiologicClinic_WebApp.Areas.Identity.Services
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Zapisz się na wizytę";
    VisitService vs = new VisitService();
    await vs.GetUsers(UserManager);
    var x = Context.Request.HttpContext.Request.Path.ToString();
    x = x.Remove(0,22);
}

<h2>Zapisujesz się na wizytę do lekarza<b> @vs.GetSpecificUser(x)</b></h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label class="control-label">Dostępne terminy wizyt</label>
                <select asp-for="IdPatient" asp-items="VisitService.Patients"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Umów wizytę" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href='javascript:history.go(-1)'>Powrót do menu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
