@model CardiologicClinic_WebApp.Models.Visit

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Visit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdPatient" class="control-label"></label>
                <input asp-for="IdPatient" class="form-control" />
                <span asp-validation-for="IdPatient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDoctor" class="control-label"></label>
                <input asp-for="IdDoctor" class="form-control" />
                <span asp-validation-for="IdDoctor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitDate" class="control-label"></label>
                <input asp-for="VisitDate" class="form-control" />
                <span asp-validation-for="VisitDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitName" class="control-label"></label>
                <input asp-for="VisitName" class="form-control" />
                <span asp-validation-for="VisitName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
