@page
@model NewVisitModel
@inject UserManager<ApplicationUser> UserManager
@using CardiologicClinic_WebApp.Models;
@{
    ViewData["Title"] = "Nowa wizyta";
    ViewData["ActivePage"] = ManageNavPages.NewVisit;

    CardiologicClinic_WebApp.Areas.Identity.Services.UserService us = new CardiologicClinic_WebApp.Areas.Identity.Services.UserService();
    var ListOfUsers = us.GetListOfDoctorsAsync(UserManager).Result;
}
<!DOCTYPE html>
<html>
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta charset="utf-8" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/NewVisitSubMenucss.css" type="text/css" />
    </environment>

</head>
<body>
    <style>
        .nav-pills > li.active > a,
        .nav-pills > li.active > a:focus,
        .nav-pills > li.active > a:hover {
            background-color: #222222;
        }
    </style>
    @*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*@
    <ul class="nav navbar-nav">
        <hr />
        <h2>Dostępni lekarze:</h2>
        <hr/>
        @foreach (var item in ListOfUsers)
        {@if (UserManager.IsInRoleAsync(item, "Doctor").Result)
            {
                var name = item.Name + " " + item.UserSurname + " ";
                <center>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" style="color:black">@name<span class="glyphicon glyphicon-user pull-right" style="color:black"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Visits" asp-action="AssignToVisit" style="color:black">Umów wizytę <span class="glyphicon glyphicon-plus pull-right" style="color:black"></span></a></li>
                            <li class="divider"></li>
                            <li><a asp-controller="Users" asp-action="DoctorDetails" asp-route-id="@item.Id" style="color:black">Dane lekarza <span class="glyphicon glyphicon-folder-open pull-right" style="color:black"></span></a></li>
                        </ul>
                    </li>
                    <br>
                </center>
            }
    }
    </ul>
</body>
</html>