@page
@model NewVisitModel
@{
    ViewData["Title"] = "Nowa wizyta";
    ViewData["ActivePage"] = ManageNavPages.NewVisit;
}
<!DOCTYPE html>
<html>
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta charset="utf-8" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/NewVisitSubMenucss.css" type="text/css" />
    </environment>

</head>
<body>
    @*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*@
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" style="color:black">Lekarz 1<span class="glyphicon glyphicon-user pull-right" style="color:black"></span></a> 
            <ul class="dropdown-menu">
                <li><a href="AppointmentCalendar" style="color:black">Umów wizytę <span class="glyphicon glyphicon-plus pull-right" style="color:black"></span></a></li>
                <li class="divider"></li>
                <li><a href="#" style="color:black">Dane lekarza <span class="glyphicon glyphicon-folder-open pull-right" style="color:black"></span></a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" style="color:black">Lekarzyk 2 <span class="glyphicon glyphicon-user pull-right" style="color:black"></span></a>
            <ul class="dropdown-menu">
                <li><a href="AppointmentCalendar" style="color:black">Umów wizytę <span class="glyphicon glyphicon-plus pull-right" style="color:black"></span></a></li>
                <li class="divider"></li>
                <li><a href="#" style="color:black">Dane lekarza <span class="glyphicon glyphicon-folder-open pull-right" style="color:black"></span></a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" style="color:black">Lekarzyk 3 <span class="glyphicon glyphicon-user pull-right" style="color:black"></span></a>
            <ul class="dropdown-menu">
                <li><a href="AppointmentCalendar" style="color:black">Umów wizytę <span class="glyphicon glyphicon-plus pull-right" style="color:black"></span></a></li>
                <li class="divider"></li>
                <li><a href="#" style="color:black">Dane lekarza <span class="glyphicon glyphicon-folder-open pull-right" style="color:black"></span></a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" style="color:black">Lekarzyk 4 <span class="glyphicon glyphicon-user pull-right" style="color:black"></span></a>
            <ul class="dropdown-menu">
                <li><a href="AppointmentCalendar" style="color:black">Umów wizytę <span class="glyphicon glyphicon-plus pull-right" style="color:black"></span></a></li>
                <li class="divider"></li>
                <li><a href="#" style="color:black">Dane lekarza <span class="glyphicon glyphicon-folder-open pull-right" style="color:black"></span></a></li>
            </ul>
        </li>
    </ul>
</body>
</html>