@page
@model ToDownloadModel
@{
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    ViewData["Title"] = "Pliki do pobrania";
}
<h3>@*<i class="fa fa-download"></i>*@Pliki do pobrania:</h3>
<hr />
<a href="~/files/dieta przy chorobach serca.pdf" target="_blank"><font color="black">Dieta przy chorobach serca<i class="fa fa-heart"></i></font></a>
<br />
<a href="~/files/Nieinwazyjne_badania.pdf" target="_blank"><font color="black">Nieinwazyjne badania w kardiologii <i class="fa fa-search"></i></font></a>
<br />
<a href="~/files/psychologiczne aspekty.pdf" target="_blank"><font color="black">Psychologiczne aspekty chorób kardiologicznych <i class="fa fa-user-circle"></i></font></a>
