@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Email do resetu hasła został pomyślnie wysłany";
}

<h2>@ViewData["Title"]</h2>
<p>
    Sprawdź swoją pocztę aby zresetować hasło.
</p>

