@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset hasła potwierdzenie";
}

<h2>@ViewData["Title"]</h2>
<p>
    Twoje hasło zostało zresetowane. Proszę kliknąć <a asp-page="./Login">tutaj</a> w celu zalogowania się.
</p>