@{
    ViewData["Title"] = "Opis przychodni";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Tutaj będą dodatkowe informacje.</p>
<p>Przychodnia oferuje pomoc lekarską w zakresie kardiologicznym.</p>

<div class="row">
    <div class="columnABOUT">
        <div class="cardABOUT">
            <img src="~/images/lekarz1.jpg" alt="Jane" style="width:100%">
            <div class="containerABOUT">
                <h2>Jane Doe</h2>
                <p class="titleABOUT">Kardiolog</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
                <p><button class="buttonABOUT">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="columnABOUT">
        <div class="cardABOUT">
            <img src="~/images/lekarz2.jpg" alt="Mike" style="width:100%">
            <div class="containerABOUT">
                <h2>Mike Ross</h2>
                <p class="titleABOUT">Kardiolog</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
                <p><button class="buttonABOUT">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="columnABOUT">
        <div class="cardABOUT">
            <img src="~/images/lekarz3.jpg" alt="John" style="width:100%">
            <div class="containerABOUT">
                <h2>John Doe</h2>
                <p class="titleABOUT">Kardiolog</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
                <p><button class="buttonABOUT">Contact</button></p>
            </div>
        </div>
    </div>
</div>