@{
    ViewData["Title"] = "Opis przychodni";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Tutaj będą dodatkowe informacje.</p>
<p>Przychodnia oferuje pomoc lekarską w zakresie kardiologicznym.</p>

<h2>HISTORIA KLINIKI COS ZROBIC LADNIEGO</h2>

<h2>Nasz zespół</h2>
<div class="row">
    <div class="columnABOUT">
        <div class="cardABOUT">
            <img src="~/images/lekarz1.jpg" alt="Jane" style="width:100%">
            <div class="containerABOUT">
                <h2>Jane Doe</h2>
                <p class="titleABOUT">Kardiolog</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
                <p><button class="buttonABOUT">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="columnABOUT">
        <div class="cardABOUT">
            <img src="~/images/lekarz2.jpg" alt="Mike" style="width:100%">
            <div class="containerABOUT">
                <h2>Mike Ross</h2>
                <p class="titleABOUT">Kardiolog</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
                <p><button class="buttonABOUT">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="columnABOUT">
        <div class="cardABOUT">
            <img src="~/images/lekarz3.jpg" alt="John" style="width:100%">
            <div class="containerABOUT">
                <h2>John Doe</h2>
                <p class="titleABOUT">Kardiolog</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
                <p><button class="buttonABOUT">Contact</button></p>
            </div>
        </div>
    </div>
</div>
<h2>Nasza lokalizacja</h2>
<div align="center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20069.800942972535!2d16.945458168104522!3d51.03969747646224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fc3f7407ea351%3A0xb59940b57c67023c!2sBielany+Wroc%C5%82awskie!5e0!3m2!1spl!2spl!4v1564077493892!5m2!1spl!2spl" width="650" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>