@{
    ViewData["Title"] = "Moduł wykrywający zawał serca";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Tutaj będzie ai na atak serca.</p>
<p>Przychodnia oferuje pomoc lekarską w zakresie kardiologicznym.</p>

<div class="row">
    <div class="col-md-3">
        <h2> Test</h2>
        @TempData["test"]
        <ul>
            <form><button asp-area="" asp-controller="Home" asp-action="LoadAIData">Kontakt</button></form>
        </ul>
    </div>
</div>