@*@page*@
@model HeartAttackModel
@{
    ViewData["Title"] = "Moduł wykrywający zawał serca";
}
@using CardiologicClinic_WebApp.Views.Home;
<h3>@ViewData["Message"]</h3>

<p>Tutaj będzie ai na atak serca.</p>
<p>Przychodnia oferuje pomoc lekarską w zakresie kardiologicznym.</p>

<h4>Wypełnij formularz abyśmy mogli zbadać Twoje dane modułem diagnostycznym.</h4>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <h3>Informacje podstawowe:</h3>
            <div class="form-group">
                <label asp-for="Input.Age"></label>
                <input asp-for="Input.Age" class="form-control" />
                <span asp-validation-for="Input.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Sex"></label>
                <select asp-for="Input.Sex">
                    <option value="1">Mężczyzna</option>
                    <option value="0">Kobieta</option>
                </select>
                <span asp-validation-for="Input.Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PainLocation"></label>
                <select asp-for="Input.PainLocation">
                    <option value="1">Mostek</option>
                    <option value="2">Lewy przedsercowy</option>
                    <option value="3">Prawy przedsercowy</option>
                    <option value="4">Lewy boczny klatki piersiowej</option>
                    <option value="5">Prawy boczny klatki piersiowej</option>
                    <option value="6">Brzuszny</option>
                    <option value="7">Plecy</option>
                    <option value="8">Inny</option>
                </select>
                <span asp-validation-for="Input.PainLocation" class="text-danger"></span>
            </div> <div class="form-group">
                <label asp-for="Input.ChestPainRadiation"></label>
                <select asp-for="Input.ChestPainRadiation">
                    <option value="1">Szyja</option>
                    <option value="2">Szczęka</option>
                    <option value="3">Lewe ramię</option>
                    <option value="4">Lewa ręka</option>
                    <option value="5">Prawe ramię</option>
                    <option value="6">Plecy</option>
                    <option value="7">Brzuch</option>
                    <option value="8">Inne</option>
                </select>
                <span asp-validation-for="Input.ChestPainRadiation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PainCharacter"></label>
                <select asp-for="Input.PainCharacter">
                    <option value="1">Stały</option>
                    <option value="2">Epizodyczny</option>
                    <option value="3">Raczej epizodyczny niż stały</option>
                    <option value="4">Raczej stały niż epizodyczny</option>
                    <option value="5">Tępy</option>
                    <option value="6">Ostry</option>
                    <option value="7">Palący</option>
                    <option value="8">Opłucowny</option>
                </select>
                <span asp-validation-for="Input.PainCharacter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.OnsetOfPain"></label>
                <select asp-for="Input.OnsetOfPain">
                    <option value="1">??????</option>
                    <option value="2">Podczas odpoczynku</option>
                    <option value="3">Podczas snu</option>
                </select>
                <span asp-validation-for="Input.OnsetOfPain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NumOfHoursSinceOnset"></label>
                <input asp-for="Input.NumOfHoursSinceOnset" class="form-control" />
                <span asp-validation-for="Input.NumOfHoursSinceOnset" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.DurationOfTheLastEpisode"></label>
                <select asp-for="Input.DurationOfTheLastEpisode">
                    <option value="1">Mniej niż 5 minut</option>
                    <option value="2">5 - 30 minut</option>
                    <option value="3">30 - 60 minut</option>
                    <option value="4">1 - 6 godzin</option>
                    <option value="5">6 - 12 godzin</option>
                    <option value="6">Powyżej 12 godzin</option>
                </select>
                <span asp-validation-for="Input.DurationOfTheLastEpisode" class="text-danger"></span>
            </div>

            <h3>Objawy współwystępujące:</h3>
            <div class="form-group">
                <label asp-for="Input.Nausea"></label>
                <select asp-for="Input.Nausea">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.Nausea" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.Diaphoresis"></label>
                <select asp-for="Input.Diaphoresis">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.Diaphoresis" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.Palpitations"></label>
                <select asp-for="Input.Palpitations">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.Palpitations" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.Dyspnea"></label>
                <select asp-for="Input.Dyspnea">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.Dyspnea" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.Dizziness"></label>
                <select asp-for="Input.Dizziness">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.Dizziness" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.Burping"></label>
                <select asp-for="Input.Burping">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.Burping" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PalliativeFactors"></label>
                <select asp-for="Input.PalliativeFactors">
                    <option value="1">Brak</option>
                    <option value="2">Odczucie ulgi poprzez podanie nitrogliceryny w przeciągu 5 minut</option>
                    <option value="3">Odczucie ulgi poprzez podanie nitrogliceryny w czasie dłuższym niż 5 minut</option>
                    <option value="4">związek zobojętniający kwasy</option>
                    <option value="5">Niewrażliwość na ból z wyjątkiem morfiny</option>
                    <option value="6">Morfina</option>
                </select>
                <span asp-validation-for="Input.PalliativeFactors" class="text-danger"></span>
            </div>
            <h3>Występowanie podobnych bóli w przeszłości:</h3>
            <div class="form-group">
                <label asp-for="Input.PriorChestPainOfThisType"></label>
                <select asp-for="Input.PriorChestPainOfThisType">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.PriorChestPainOfThisType" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.PhysicianConsultedForPriorPain"></label>
                <select asp-for="Input.PhysicianConsultedForPriorPain">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.PhysicianConsultedForPriorPain" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.PriorPainRelatedToHeart"></label>
                <select asp-for="Input.PriorPainRelatedToHeart">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.PriorPainRelatedToHeart" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.PriorPainDueToMI"></label>
                <select asp-for="Input.PriorPainDueToMI">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.PriorPainDueToMI" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.PriorPainDueToAnginaPectoris"></label>
                <select asp-for="Input.PriorPainDueToAnginaPectoris">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.PriorPainDueToAnginaPectoris" class="text-danger"></span>
            </div>
            <h3>Historia choroby:</h3>
            <div class="form-group">
                <label asp-for="Input.PriorMI"></label>
                <select asp-for="Input.PriorMI">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.PriorMI" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.PriorAnginaPectoris"></label>
                <select asp-for="Input.PriorAnginaPectoris">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.PriorAnginaPectoris" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.PriorAntypicalChestPain"></label>
                <select asp-for="Input.PriorAntypicalChestPain">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.PriorAntypicalChestPain" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.CongestiveHeartFailure"></label>
                <select asp-for="Input.CongestiveHeartFailure">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.CongestiveHeartFailure" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.PeripheralVascularFailure"></label>
                <select asp-for="Input.PeripheralVascularFailure">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.PeripheralVascularFailure" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.HiatalHernia"></label>
                <select asp-for="Input.HiatalHernia">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.HiatalHernia" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.Hypertension"></label>
                <select asp-for="Input.Hypertension">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.Hypertension" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.Diabetes"></label>
                <select asp-for="Input.Diabetes">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.Diabetes" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.Smoker"></label>
                <select asp-for="Input.Smoker">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.Smoker" class="text-danger"></span>
            </div>
            <h3>Aktualnie stosowane leki:</h3>
            <div class="form-group">
                <label asp-for="Input.Diuretics"></label>
                <select asp-for="Input.Diuretics">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.Diuretics" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.Nitrates"></label>
                <select asp-for="Input.Nitrates">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.Nitrates" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.BetaBlockers"></label>
                <select asp-for="Input.BetaBlockers">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.BetaBlockers" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.Digitalis"></label>
                <select asp-for="Input.Digitalis">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.Digitalis" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.Nonsteroidal"></label>
                <select asp-for="Input.Nonsteroidal">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.Nonsteroidal" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.Antacids"></label>
                <select asp-for="Input.Antacids">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.Antacids" class="text-danger"></span>
            </div>
            <h3>Badania lekarskie:</h3>
            <div class="form-group">
                <label asp-for="Input.SystolicBloodPressure"></label>
                <select asp-for="Input.SystolicBloodPressure">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.SystolicBloodPressure" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.DiastolicBloodPressure"></label>
                <select asp-for="Input.DiastolicBloodPressure">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.DiastolicBloodPressure" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.HeartRate"></label>
                <input asp-for="Input.HeartRate" class="form-control" />
                <span asp-validation-for="Input.HeartRate" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.RespirationRate"></label>
                <input asp-for="Input.RespirationRate" class="form-control" />
                <span asp-validation-for="Input.RespirationRate" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.Rales"></label>
                <select asp-for="Input.Rales">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.Rales" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.Cyanosis"></label>
                <select asp-for="Input.Cyanosis">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.Cyanosis" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.Pallor"></label>
                <select asp-for="Input.Pallor">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.Pallor" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.SystolicMurmur"></label>
                <select asp-for="Input.SystolicMurmur">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.SystolicMurmur" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.DiastolicMurmur"></label>
                <select asp-for="Input.DiastolicMurmur">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.DiastolicMurmur" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.Oedema"></label>
                <select asp-for="Input.Oedema">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.Oedema" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.S3Gallop"></label>
                <select asp-for="Input.S3Gallop">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.S3Gallop" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.S4Gallop"></label>
                <select asp-for="Input.S4Gallop">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.S4Gallop" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.ChestWallTenderness"></label>
                <select asp-for="Input.ChestWallTenderness">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.ChestWallTenderness" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.DiaphoresisPE"></label>
                <select asp-for="Input.DiaphoresisPE">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.DiaphoresisPE" class="text-danger"></span>
            </div>

            <h3>Badania EKG:</h3>
            <div class="form-group">
                <label asp-for="Input.NewQWave"></label>
                <select asp-for="Input.NewQWave">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.NewQWave" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.AnyQWave"></label>
                <select asp-for="Input.AnyQWave">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.AnyQWave" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.NewSTSegmentElevation"></label>
                <select asp-for="Input.NewSTSegmentElevation">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.NewSTSegmentElevation" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.AnySTSegmentElevation"></label>
                <select asp-for="Input.AnySTSegmentElevation">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.AnySTSegmentElevation" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.NewSTSegmentDepression"></label>
                <select asp-for="Input.NewSTSegmentDepression">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.NewSTSegmentDepression" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.AnySTSegmentDepression"></label>
                <select asp-for="Input.AnySTSegmentDepression">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.AnySTSegmentDepression" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.NewTWaveInversion"></label>
                <select asp-for="Input.NewTWaveInversion">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.NewTWaveInversion" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.AnyTWaveInversion"></label>
                <select asp-for="Input.AnyTWaveInversion">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.AnyTWaveInversion" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.NewIntraventricularConductionDefect"></label>
                <select asp-for="Input.NewIntraventricularConductionDefect">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.NewIntraventricularConductionDefect" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Input.AnyIntraventricularConductionDefect"></label>
                <select asp-for="Input.AnyIntraventricularConductionDefect">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>
                <span asp-validation-for="Input.AnyIntraventricularConductionDefect" class="text-danger"></span>
            </div>

            <form><button asp-action="Diagnosis" class="btn btn-default">Zbadaj</button></form>
        </form>
</div>
</div>
