@model HeartAttackModel
@{
    ViewData["Title"] = "Diagnoza";
}
@using CardiologicClinic_WebApp.Views.Home

<h2>Diagnoza:</h2>
<ul>
    <h4>@HeartAttackModel.result</h4>
        <h4>@HeartAttackModel.isIll</h4>
</ul>

