@{
    ViewData["Title"] = "Cennik";
}
<h2>@ViewData["Title"]</h2>

<p>Cennik usług dostępnych w przychodni.</p>
<table class="table">
    <thead>
        <tr>
            <th>Usługa</th>
            <th>Cena</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-toggle="tooltip" title="Prywatna konsultacja z kardiologiem." onmouseover="" style="cursor: default;">Konsultacja kardiologiczna</td>
            <td>130,00 zł</td>
        </tr>
        <tr>
            <td data-toggle="tooltip" title="Prywatna konsultacja z kardiologiem oraz baddanie EKG." onmouseover="" style="cursor: default;">Konsultacja kardiologiczna + EKG</td>
            <td>150,00 zł</td>
        </tr>
        <tr>
            <td data-toggle="tooltip" title="Badanie EKG z opisem." onmouseover="" style="cursor: default;">EKG z opisem</td>
            <td>35,00 zł</td>
        </tr>
        <tr>
            <td data-toggle="tooltip" title="Badanie EKG metodą Holtera." onmouseover="" style="cursor: default;">Holter EKG</td>
            <td>130,00 zł</td>
        </tr>
        <tr>
            <td data-toggle="tooltip" title="Badanie EKG metodą Holtera w wersji 12 odprowadzeniowej." onmouseover="" style="cursor: default;">Holter EKG 12 odprowadzeniowy</td>
            <td>160,00 zł</td>
        </tr>
        <tr>
            <td data-toggle="tooltip" title="Całodobowe monitorowanie ciśnienia tętniczego krwi." onmouseover="" style="cursor: default;">Holter RR</td>
            <td>100,00 zł</td>
        </tr>
        <tr>
            <td  data-toggle="tooltip" title="Badanie wysiłkowe na bieżni." onmouseover="" style="cursor: default;">Test wysiłkowy</td>
            <td>140,00 zł</td>
        </tr>
        <tr>
            <td data-toggle="tooltip" title="Oglądanie serca aparatem USG wzbogaconym o możliwość pomiaru przepływu krwi przez serce." onmouseover="" style="cursor: default;">USG (ECHO serca)</td>
            <td>150,00 zł</td>
        </tr>
        <tr>
            <td data-toggle="tooltip" title="Najbardziej dokładna metoda badania serca." onmouseover="" style="cursor: default;">USG (ECHO serca) przezprzełykowe</td>
            <td>400,00 zł</td>
        </tr>
        <tr>
            <td data-toggle="tooltip" title="Kontrola stanu stymulatora serca." onmouseover="" style="cursor: default;">Kontrola stymulatora</td>
            <td>120,00 zł</td>
        </tr>
        <tr>
            <td data-toggle="tooltip" title="Kontrola stanu stymulatora serca wzbogacona o badanie EKG."  onmouseover="" style="cursor: default;">Kontrola stymulatora z EKG</td>
            <td>140,00 zł</td>
        </tr>
        <tr>
            <td data-toggle="tooltip" title="Kontrola stanu kardiowertera."onmouseover="" style="cursor: default;">Kontrola kardiowertera</td>
            <td>120,00 zł</td>
        </tr>
        <tr>
            <td data-toggle="tooltip" title="Kontrola stanu kardiowertera wzbogacona o badanie EKG." onmouseover="" style="cursor: default;">Kontrola kardiowertera z EKG</td>
            <td>140,00 zł</td>
        </tr>
        <tr>
            <td data-toggle="tooltip" title="Wystawienie recepty." onmouseover="" style="cursor: default;">Porada recepturowa</td>
            <td>30,00 zł</td>
        </tr>
    </tbody>
</table>
